
.Linkedin {
    background-size: contain;
    background-position: center;
    background-clip: content-box;
}
.me:hover .Linkedin {
    background-image: url('./Images/Linkedin.png');
    transition: 0.8s;
    border-bottom: 2px solid rgb(27, 27, 119);
    border-right: 2px solid black;
}